{% extends 'base.html' %}

{% block title %}Poll_view{% endblock %}

{#{% block menu %}#}
{#    <li><a href="{% url 'task_update' task.pk %}">Edit</a></li>#}
{#    <li><a href="{% url 'task_delete' task.pk %}">Delete</a></li>#}
{#{% endblock %}#}
{% block content %}
   <div class="container">
       <h1>{{ poll.question }}</h1>
        <p>Created at: {{ poll.created_at }}</p>
   </div>
    <hr/>
    <h3>Choises:</h3>
    {% for choise in poll.choices.all %}
        <div class="task">
            <p><b>{{ choise.answer }}</b></p>
            <p class="projects-links">
{#                <a href="{% url 'task_view' task.pk %}">More</a>#}
                <a href="{% url 'choice_update' choise.pk %}">Edit</a>
                <a href="{% url 'choice_delete' choise.pk %}">Delete</a>
            </p>
        </div>
    {% empty %}
        <p>No choices yet.</p>
    {% endfor %}
    {% if is_paginated %}
        {% include 'partial/pagination.html' %}
    {% endif %}
    <form action="{% url 'poll_choice_create' poll.pk %}" method="POST" id="add_choice">
        {% include 'partial/form.html' with button_text='Add' %}
      </form>
{% endblock %}